[submodule "external/CppLmmModelStore"]
	path = external/CppLmmModelStore
	url = https://github.com/cschladetsch/CppLmmModelStore
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
