[submodule "external/CppLmmModelStore"]
	path = external/CppLmmModelStore
	url = https://github.com/cschladetsch/CppLmmModelStore
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
